<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Word Counter</title>
</head>
<body>
    <h1>About the Word Counter</h1>

    <h2>This is a simple website created using Django to count the number of words inputed by a user on the site. The word counter counts and give the total number of words in the document and later sorts the list of words with the highest words ontop.</h2>
    <br>
    <br>
    <h2><a href="{% url 'home' %}">Click here to count words</a></h2>
</body>
</html>